.btn {
  border: none;
  border-radius: 30px;
  padding: 7px 20px;
  background-color: rgb(218, 101, 23);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
}

.btn:hover {
  background-color: rgb(203, 81, 0);
}
